@charset "UTF-8";
/* CSS Document */

:root {
	--size: 200px;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

body {
	cursor: pointer;
	background: url("../images/screenshot.png");
	background-size: cover;
}

.background {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.glow {
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
	border-radius: 50px;
    position: absolute;
	background: #fff8d9;
	filter: blur(50px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container {
	width: var(--size);
	height: var(--size);
	left: calc(50vw - var(--size) / 2);
	top: calc(50vh - var(--size) / 2);
	position: absolute;
	z-index: 1;
	perspective: 500;
}

.image {
	width: var(--size);
	height: var(--size);
	opacity: 0;
}

#emitter {
	background-color: transparent;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 50%;
	left: 50%;

}

.dot {
	/*background-color: #fff8d9;*/
	background: url('../images/sparkle.png') no-repeat;
	background-size: 100% 100%;
	border-radius: 0%;
	position: absolute;
	transform: rotate(45deg);

}
